.projects-bg {
  background: var(--projects-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 1441px; */
  height: 788px;
}

.project_items {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.project_pic {
  position: relative;
  /* z-index: 0; */
  margin-top: 3.375rem;
  left: 2.1rem;
}

.pjt_one {
  position: relative;
  z-index: 4;
  /* top: 11.25rem; */
  margin-left: 5rem;
}

.pjt_two {
  position: relative;
  z-index: 3;
  top: 6.25rem;
  right: 4.375rem;
}

.pjt_three {
  position: relative;
  z-index: 2;
  top: 12.24rem;
  right: 8.375rem;
}

.pjct-line {
  width: 6.313rem;
  height: 0.438rem;
  border-radius: 5px solid var(--yellow-color);
  background: var(--yellow-color);
  margin-left: 23rem;
}

.project_text {
  position: relative;
  margin-top: 7.5rem;
  right: 7.75rem;
  color: var(--white-color);
}

h2.project_title {
  font-family: "Merriweather", serif;
  text-align: right;
  font-size: 3.55rem;
  font-weight: 700;
}

.project-txt-one {
  width: 29.938rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  text-align: right;
  line-height: 1.761rem;
}

h3.project_subtitle {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-align: right;
}
.project-txt-two {
  /* width: 30.75rem; */
  font-size: 1.3rem;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  text-align: right;
  line-height: 1.761rem;
}

.btn-project-read {
  width: 10.625rem;
  height: 2.9rem;
  font-size: 1.25rem;
  font-weight: 500;
  padding: 10px;
  background: var(--yellow-color);
  color: var(--black-color);
  margin-left: 18.9rem;
}

.btn-project-read:hover {
  background: none;
  border: 1px solid var(--white-color);
  color: var(--white-color);
}

/*============= MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  .projects-bg {
    height: 40.25rem;
  }

  /*  IMAGE SECTION */
  .project_items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project_pic {
    left: -1.2rem;
  }

  .pjt_one {
    width: 12.5rem;
  }

  .pjt_three,
  .pjt_two {
    display: none;
  }

  /* FIRST TEXT SECTION */

  .pjct-line {
    width: 5.313rem;
    height: 0.338rem;
    margin-left: 25rem;
  }

  .project_text {
    position: relative;
    margin-top: 5.5rem;
    right: 5.75rem;
  }

  h2.project_title {
    text-align: right;
    font-size: 2.25rem;
  }

  .project-txt-one {
    width: 30.75rem;
    font-size: 1.1rem;
    text-align: right;
  }

  /* SECOND TEXT SECTION */

  h3.project_subtitle {
    font-family: "Merriweather", serif;
    font-size: 2rem;
    text-align: right;
  }
  .project-txt-two {
    width: 30.75rem;
    font-size: 1.1rem;
    font-family: "Raleway", sans-serif;
    text-align: right;
  }

  .btn-project-read {
    width: 9.625rem;
    height: 2.8rem;
    margin-left: 20.9rem;
  }
}

/*============= MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  .projects-bg {
    height: 33.25rem;
  }

  /*  IMAGE SECTION */
  .project_items {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 8.15rem;
  }

  .pjt_one,
  .pjt_three,
  .pjt_two {
    display: none;
  }

  /* FIRST TEXT SECTION */

  .pjct-line {
    width: 4.313rem;
    height: 0.338rem;
    margin-left: -0.1rem;
  }

  .project_text {
    position: relative;
    margin-top: -3.5rem;
    /* right: 5.75rem; */
  }

  h2.project_title {
    text-align: left;
    font-size: 2rem;
  }

  .project-txt-one {
    width: 19.45rem;
    font-size: 0.9rem;
    text-align: left;
  }

  /* SECOND TEXT SECTION */

  h3.project_subtitle {
    text-align: left;
    font-size: 1.4rem;
  }
  .project-txt-two {
    width: 20.45rem;
    font-size: 0.9rem;
    text-align: left;
  }

  .btn-project-read {
    width: 8.22rem;
    height: 2.8rem;
    font-weight: 300;
    font-size: 1.15rem;
    margin-left: -0.1rem;
    padding: 4p;
  }
}
