

.dark_bckground {
  /* width: 1550px; */
  /* height: 500px; */
  /* background: #101010; */
}
/* 
.audiomack_img {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 45px;
}

.audiomack_header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  color: var(--white-color);
}

div.audio_line {
  width: 101.16px;
  height: 6.27px;
  background: var(--yellow-color);
  border-radius: 5px;
  margin-left: 46.3%;
} */
