* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner-image {
  background-image: url("../../assets/main.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  width: 500px;
}
