@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --yellow-color: #ffb606;
}

.banner-image {
  background-image: url(../../assets/background-image.jpg);
  background-size: cover;
  width: 500px;
}

.navbar-nav .nav-item .nav-link {
  font-size: 20px;
  font-weight: 500px;
  color: var(--white-color);
}

.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover {
  color: var(--yellow-color);
}

.btn-donate {
  width: 170px;
  height: 47px;
  background: var(--yellow-color);
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 15px 15px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin-top: -25px;
}

.btn-donate:hover {
  background: none;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  transition: 1s;
}

.txt-content {
  color: var(--white-color);
  position: absolute;
  margin-top: 270px;
  margin-right: 29%;
}

.txt-content-one::before {
  content: "\a";
  white-space: pre;
}

.txt-content-two::before {
  content: "\a";
  white-space: pre;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

.txt-yellow {
  color: var(--yellow-color);
}

.txt-title {
  font-family: "Merriweather", serif;
  font-size: 70px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-aboutus {
  width: 170px;
  height: 47px;
  background: var(--yellow-color);
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 15px 15px;
  border: none;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}


.btn-aboutus:hover {
  background: none;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  transition: 1s;
}

.btn-projects {
  width: 170px;
  height: 47px;
  background: none;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 15px 15px;
  border: 1px solid var(--white-color);
  color: var(--white-color);
  text-decoration: none;
  display: inline-block;
}


.btn-projects:hover {
  background: var(--yellow-color);
  border: 1px solid var(--white-color);
  color: var(--black-color);
  transition: 1s;
}
