@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --yellow-color: #ffb606;
}

.dark_bckground {
  /* width: 1550px; */
  height: 520px;
  background: #101010;
}

.audiomack_bck {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 101px;
}

.audiomack_header {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  text-align: center;
  color: var(--white-color);
}

div.audio_line {
  width: 101.16px;
  height: 6.27px;
  background: var(--yellow-color);
  border-radius: 5px;
  margin-left: 46.3%;
}
