/* MANDATE SECTION */
section {
  background-image: url("../../assets/mainbackground.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3.5rem;
  margin-right: 16rem;
}

/*  Mandate Image-styling */

.pics {
  margin-left: 30.3%;
  /* position: relative; */
}

.img-1 {
  /* width: 35.4rem; */
}

.img-1 {
  margin-left: 12%;
  position: relative;
  z-index: 2;
}

.img-2 {
  margin-top: -4.5rem;
  /* margin-right: 19rem; */
  margin-right: 20%;
  /* z-index: 3; */
}

/*  Mandate Text-styling */

.bg-text {
  /* width: 30.7rem; */
  width: 40.96rem;
  height: 31.444rem;
  /* height: 29.4rem; */
  background: var(--white-color);
}

.bg-grid-txt {
  display: flex;
  width: 20rem;
  margin-top: 1.2rem;
  margin-left: 16.246rem;
}

h3.title-txt {
  margin-left: 10.6rem;
  font-size: 2.2rem;
  font-weight: 700;
}

.underline {
  width: 6.3rem;
  height: 0.3rem;
  border-radius: 5px solid var(--yellow-color);
  background: var(--yellow-color);
  position: absolute;
  margin-left: 13rem;
  margin-top: 2.7rem;
}

p.mandate-txt {
  width: 20rem;
  height: 15rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: justify;
}

.btn-read {
  width: 10.6rem;
  height: 2.9rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 10px;
  background: var(--yellow-color);
  color: var(--black--color);
  border: 1px solid var(--white-color);
  margin-left: 25.6rem;
  margin-top: 5rem;
}

.btn-read:hover {
  background: none;
  border: 1px solid var(--black-color);
  color: var(--black-color);
}

/*============= MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  /*  Mandate Image-styling */

  .pics {
    margin-left: 17.3%;
  }

  .img-1 {
    width: 27.4rem;
  }

  .img-1 {
    position: relative;
    z-index: 2;
  }

  .img-2 {
    width: 23.4rem;
  }

  .img-2 {
    margin-top: -3.4rem;
    margin-left: 3.6rem;
    z-index: 3;
  }

  /*  Mandate Text-styling */

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3.5rem;
  }

  h3.title-txt {
    margin-left: 13.4rem;
    font-size: 1.5rem;
  }

  .underline {
    width: 4.3rem;
    height: 0.2rem;
    margin-left: 15rem;
    margin-top: 1.9rem;
  }

  .bg-grid-txt {
    display: flex;
    width: 20rem;
    margin-top: 1.2rem;
    margin-left: 4rem;
  }

  .bg-text {
    width: 26rem;
    height: 21.4rem;
  }

  p.mandate-txt {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
  }

  .btn-read {
    width: 110px;
    font-size: 1em;
    padding: 4px 4px;
    margin-left: 17.3rem;
    margin-top: -2rem;
    position: absolute;
  }
}

/*============= MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  /*  Mandate Text-styling */

  .wrapper {
    position: absolute;
    display: flex;
    margin-top: 1.9rem;
  }

  h3.title-txt {
    margin-left: 13.4rem;
    font-size: 1.5rem;
  }

  .underline {
    width: 4.3rem;
    height: 0.2rem;
    margin-left: 14.8rem;
    margin-top: 1.9rem;
  }

  .bg-grid-txt {
    display: flex;
    width: 20rem;
    margin-top: 1.2rem;
    margin-left: 1.3rem;
  }

  .bg-text {
    width: 23rem;
    height: 20.4rem;
    margin-left: 3rem;
  }

  p.mandate-txt {
    font-family: "Raleway", sans-serif;
    font-size: 1em;
  }

  .btn-read {
    width: 110px;
    font-size: 0.9em;
    padding: 4px 4px;
    margin-left: 14.2rem;
    margin-top: -3rem;
  }

  /*  Mandate Image-styling */

  .pics {
    margin-left: 2rem;
    margin-top: 21.4rem;
    position: absolute;
    flex-direction: column;
  }

  .img-1 {
    width: 16.4rem;
  }

  .img-1 {
    position: relative;
    z-index: 2;
  }

  .img-2 {
    width: 15.4rem;
  }

  .img-2 {
    margin-left: 12.6rem;
    z-index: 3;
  }
}
