/* BANNER SECTION FOR NAVIGATION */

.banner-image {
  background-image: url("../../assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.navbar-nav li a {
  color: var(--white-color);
}
.navbar-nav .nav-item {
  margin-right: 1rem;
}
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover {
  color: var(--yellow-color);
}

.navbar-nav > li {
  padding-left: 7px;
  padding-right: 1px;
}

.logo {
  margin-left: 4.4rem;
}

/*============= MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  .logo {
    width: 130px;
    margin-left: 0;
  }
}
/*============= MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  .logo {
    width: 125px;
    margin-left: 0;
  }
}

/* HEADER SECTION FOR (LET JESUS BE REVEALED) */

header {
  margin: 12rem auto;
  margin-left: 7.5rem;
  margin-top: 17rem;
}

.header__conatainer,
.header__title {
  color: var(--white-color);
}

.header__conatainer h5 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.header__title h1 {
  font-family: "Merriweather", serif;
  font-size: 5.6rem;
  font-weight: 700;
}

.txt-yellow {
  color: var(--yellow-color);
}

/*  END */

/*============= MEDIA QUERIES (MEDIUM DEVICES) =========== */
@media screen and (max-width: 1024px) {
  header {
    margin-left: 2.5rem;
    margin-top: 15rem;
  }

  .header__conatainer h5 {
    font-size: 1.3em;
    font-weight: 400;
  }

  .header__title h1 {
    font-family: "Merriweather", serif;
    font-size: 4.5rem;
  }
}
/*============= MEDIA QUERIES (SMALL DEVICES) =========== */
@media screen and (max-width: 600px) {
  header {
    margin-left: 0;
    margin-top: 10rem;
  }

  .header__conatainer {
    margin-top: 4rem;
  }
  .header__conatainer h5 {
    text-align: center;
  }

  .header__title h1 {
    text-align: center;
    font-size: 3.2rem;
  }

  .btn-aboutus,
  .btn-projects {
    width: 130px;
    font-size: 14px;
    padding: 15px 10px;
    display: grid;
    flex-direction: column;
    margin-left: 6.8rem;
    margin-right: 6.8rem;
  }

}


